In [1]:
import pandas as pd
# 打印DataFrame设置
# 显示所有列
pd.set_option('display.max_columns',None)
# 显示所有列
pd.set_option('display.max_rows',None)
# 设置value显示长度，默认为50
pd.set_option('max_colwidth',100)
# 载入
%load_ext sql
# 连接mysql数据库 用户名root 密码root123 本地数据库localhost 数据库名geek_learning
%sql mysql+pymysql://root:root123@localhost/geek_learning?charset=utf8

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

'Connected: root@geek_learning'

In [2]:
%%sql
SHOW TABLES;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
6 rows affected.

[('height_grades',),
 ('heros',),
 ('player',),
 ('player_score',),
 ('team',),
 ('team_score',)]

### 非关联子查询

In [3]:
%%sql
SELECT player_name,height 
FROM player
WHERE height=(SELECT MAX(height) FROM player)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
1 rows affected.

[('索恩-马克', 2.16)]

### 关联子查询

In [4]:
%%sql
SELECT player_name,height,team_id FROM player AS a
WHERE a.height > (SELECT AVG(height) FROM player AS b WHERE a.team_id=b.team_id)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
18 rows affected.

[('安德烈-德拉蒙德', 2.11, 1001),
 ('索恩-马克', 2.16, 1001),
 ('扎扎-帕楚里亚', 2.11, 1001),
 ('乔恩-洛伊尔', 2.08, 1001),
 ('布雷克-格里芬', 2.08, 1001),
 ('雷吉-巴洛克', 2.01, 1001),
 ('斯坦利-约翰逊', 2.01, 1001),
 ('亨利-埃伦森', 2.11, 1001),
 ('斯维亚托斯拉夫-米凯卢克', 2.03, 1001),
 ('博扬-博格达诺维奇', 2.03, 1002),
 ('多曼塔斯-萨博尼斯', 2.11, 1002),
 ('迈尔斯-特纳', 2.11, 1002),
 ('赛迪斯-杨', 2.03, 1002),
 ('道格-迈克德莫特', 2.03, 1002),
 ('TJ-利夫', 2.08, 1002),
 ('凯尔-奥奎因', 2.08, 1002),
 ('阿利兹-约翰逊', 2.06, 1002),
 ('伊凯·阿尼博古', 2.08, 1002)]

### (NOT) EXISTS 子查询  
#### EXISTS  
查询出场过的球员都有哪些，并且显示他们的姓名、球员 ID 和球队 ID。在这个统计中，是否出场是通过 player_score 这张表中的球员出场表现来统计的。

In [5]:
%%sql
SELECT player_id,player_name,team_id
FROM player
WHERE EXISTS (SELECT player_id FROM player_score WHERE player.player_id=player_score.player_id)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
19 rows affected.

[(10001, '韦恩-艾灵顿', 1001),
 (10002, '雷吉-杰克逊', 1001),
 (10003, '安德烈-德拉蒙德', 1001),
 (10004, '索恩-马克', 1001),
 (10005, '布鲁斯-布朗', 1001),
 (10006, '兰斯顿-加洛韦', 1001),
 (10007, '格伦-罗宾逊三世', 1001),
 (10008, '伊斯梅尔-史密斯', 1001),
 (10009, '扎扎-帕楚里亚', 1001),
 (10010, '乔恩-洛伊尔', 1001),
 (10022, '博扬-博格达诺维奇', 1002),
 (10025, '赛迪斯-杨', 1002),
 (10024, '迈尔斯-特纳', 1002),
 (10028, '泰瑞克-埃文斯', 1002),
 (10030, '科里-约瑟夫', 1002),
 (10023, '多曼塔斯-萨博尼斯', 1002),
 (10029, '道格-迈克德莫特', 1002),
 (10031, '阿龙-霍勒迪', 1002),
 (10032, 'TJ-利夫', 1002)]

#### NOT EXISTS  
查询没有出场过的球员都有哪些，并且显示他们的姓名、球员 ID 和球队 ID。在这个统计中，是否出场是通过 player_score 这张表中的球员出场表现来统计的。

In [6]:
%%sql
SELECT player_id, player_name, team_id 
FROM player 
WHERE NOT EXISTS (SELECT player_id FROM player_score WHERE player.player_id = player_score.player_id)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
18 rows affected.

[(10011, '布雷克-格里芬', 1001),
 (10012, '雷吉-巴洛克', 1001),
 (10013, '卢克-肯纳德', 1001),
 (10014, '斯坦利-约翰逊', 1001),
 (10015, '亨利-埃伦森', 1001),
 (10016, '凯里-托马斯', 1001),
 (10017, '何塞-卡尔德隆', 1001),
 (10018, '斯维亚托斯拉夫-米凯卢克', 1001),
 (10019, '扎克-洛夫顿', 1001),
 (10020, '卡林-卢卡斯', 1001),
 (10021, '维克多-奥拉迪波', 1002),
 (10026, '达伦-科里森', 1002),
 (10027, '韦斯利-马修斯', 1002),
 (10033, '凯尔-奥奎因', 1002),
 (10034, '埃德蒙-萨姆纳', 1002),
 (10035, '达文-里德', 1002),
 (10036, '阿利兹-约翰逊', 1002),
 (10037, '伊凯·阿尼博古', 1002)]

### 集合比较子查询（IN、ANY、ALL、SOME）
#### IN子查询  
查询出场过的球员都有哪些，并且显示他们的姓名、球员 ID 和球队 ID。在这个统计中，是否出场是通过 player_score 这张表中的球员出场表现来统计的。

In [7]:
%%sql
SELECT player_id, player_name, team_id
FROM player
WHERE player.player_id IN (SELECT player_id FROM player_score WHERE player.player_id=player_score.player_id)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
19 rows affected.

[(10001, '韦恩-艾灵顿', 1001),
 (10002, '雷吉-杰克逊', 1001),
 (10003, '安德烈-德拉蒙德', 1001),
 (10004, '索恩-马克', 1001),
 (10005, '布鲁斯-布朗', 1001),
 (10006, '兰斯顿-加洛韦', 1001),
 (10007, '格伦-罗宾逊三世', 1001),
 (10008, '伊斯梅尔-史密斯', 1001),
 (10009, '扎扎-帕楚里亚', 1001),
 (10010, '乔恩-洛伊尔', 1001),
 (10022, '博扬-博格达诺维奇', 1002),
 (10025, '赛迪斯-杨', 1002),
 (10024, '迈尔斯-特纳', 1002),
 (10028, '泰瑞克-埃文斯', 1002),
 (10030, '科里-约瑟夫', 1002),
 (10023, '多曼塔斯-萨博尼斯', 1002),
 (10029, '道格-迈克德莫特', 1002),
 (10031, '阿龙-霍勒迪', 1002),
 (10032, 'TJ-利夫', 1002)]

#### 总结，如果A表（player）大于B表（player_score），则使用IN；如果A表小于B表，则使用(NOT)EXISTS。  
IN，是外表和内表进行HASH连接，先执行子查询。  
EXISTS，是在外表进行循环，然后在内表进行查询。

#### ANY子查询  (ANY=SOME)
想要查询球员表中，比印第安纳步行者（对应的 team_id 为 1002）中任意一个球员身高高的球员的信息，并且输出他们的球员 ID、球员姓名和球员身高。

In [8]:
%%sql
SELECT player_id,player_name,height 
FROM player
WHERE height>SOME(SELECT height FROM player WHERE team_id=1002)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
35 rows affected.

[(10001, '韦恩-艾灵顿', 1.93),
 (10002, '雷吉-杰克逊', 1.91),
 (10003, '安德烈-德拉蒙德', 2.11),
 (10004, '索恩-马克', 2.16),
 (10005, '布鲁斯-布朗', 1.96),
 (10006, '兰斯顿-加洛韦', 1.88),
 (10007, '格伦-罗宾逊三世', 1.98),
 (10009, '扎扎-帕楚里亚', 2.11),
 (10010, '乔恩-洛伊尔', 2.08),
 (10011, '布雷克-格里芬', 2.08),
 (10012, '雷吉-巴洛克', 2.01),
 (10013, '卢克-肯纳德', 1.96),
 (10014, '斯坦利-约翰逊', 2.01),
 (10015, '亨利-埃伦森', 2.11),
 (10016, '凯里-托马斯', 1.91),
 (10017, '何塞-卡尔德隆', 1.91),
 (10018, '斯维亚托斯拉夫-米凯卢克', 2.03),
 (10019, '扎克-洛夫顿', 1.93),
 (10020, '卡林-卢卡斯', 1.85),
 (10021, '维克多-奥拉迪波', 1.93),
 (10022, '博扬-博格达诺维奇', 2.03),
 (10023, '多曼塔斯-萨博尼斯', 2.11),
 (10024, '迈尔斯-特纳', 2.11),
 (10025, '赛迪斯-杨', 2.03),
 (10027, '韦斯利-马修斯', 1.96),
 (10028, '泰瑞克-埃文斯', 1.98),
 (10029, '道格-迈克德莫特', 2.03),
 (10030, '科里-约瑟夫', 1.91),
 (10031, '阿龙-霍勒迪', 1.85),
 (10032, 'TJ-利夫', 2.08),
 (10033, '凯尔-奥奎因', 2.08),
 (10034, '埃德蒙-萨姆纳', 1.96),
 (10035, '达文-里德', 1.98),
 (10036, '阿利兹-约翰逊', 2.06),
 (10037, '伊凯·阿尼博古', 2.08)]

#### ALL子查询  
想要查询球员表中，比印第安纳步行者（对应的 team_id 为 1002）中所有球员身高都高的球员的信息，并且输出他们的球员 ID、球员姓名和球员身高。

In [9]:
%%sql
SELECT player_id,player_name,height 
FROM player
WHERE height>ALL(SELECT height FROM player WHERE team_id=1002)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
1 rows affected.

[(10004, '索恩-马克', 2.16)]

总结，ANY(SOME)、ALL关键字必须与一个比较操作符一起使用。

### 将子查询作为计算字段  
查询每个球队的球员数

In [10]:
%%sql
SELECT team_id, team_name, (SELECT COUNT(*) FROM player WHERE player.team_id=team.team_id) AS player_num
FROM team
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
3 rows affected.

[(1001, '底特律活塞', 20), (1002, '印第安纳步行者', 17), (1003, '亚特兰大老鹰', 0)]

#### 练习
场均得分大于 20 的球员。场均得分从 player_score 表中获取，同时你需要输出球员的 ID、球员姓名以及所在球队的 ID 信息。

In [11]:
%%sql
SELECT t1.player_id,t1.player_name,t1.team_id FROM player AS t1
WHERE t1.player_id IN
    (SELECT t2.player_id FROM player_score AS t2
     GROUP BY t2.player_id
    HAVING AVG(t2.score)>20)
;

 * mysql+pymysql://root:***@localhost/geek_learning?charset=utf8
2 rows affected.

[(10001, '韦恩-艾灵顿', 1001), (10002, '雷吉-杰克逊', 1001)]